body{
	background-color: aliceblue;
}

table, th, td{
	border-collapse: collapse;
	border: 4px solid darkgray;
	padding: 13px;
}

th{
	background-color: lightcyan;
}
td{
	background-color: lightblue;
}

.ita{
	width: 300px;
	border-bottom-left-radius: 7px;
	border-top-left-radius: 7px;
}
.jap{
	width: 320px;
	border-bottom-right-radius: 7px;
	border-top-right-radius: 7px;
}